* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../Images/PlaneteersLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

main {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    filter: contrast(120%);
}

img {
    transition-property: filter;
    transition-duration: 1s;
    cursor: pointer;
}
img:hover{
    filter: brightness(130%);
}